<!DOCTYPE html>
<html>
  <head>
    <title>CoCompose</title>
    <!-- Bootstrap: -->
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Quicksand:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="./stylesheets/ark.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="./javascripts/handlebars.runtime-v4.0.2.js"></script>
    <script src="./javascripts/templates.js"></script>
    <script src="./javascripts/index.js"></script>
    <script src="./javascripts/users.js"></script>
    <script src="./javascripts/sheets.js"></script>
    <script src="/javascripts/helpers.js"></script>
  </head>
  <body>
    <div id="main-container"></div>
  </body>
</html>
