body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#sheet {
	margin-top: 38px;
}

#piano {
    position:fixed;
    margin: auto;
    top:0;
    z-index:100;
}
