<div id="homepage" class="allCenter">
  <h1>CoCompose</h1>
  <p>You must be signed in to continue.</p>
  <button id="signin-btn" class='tealButton'>Sign in</button>
  <button id="register-btn" class='tealButton'>Register</button>
</div>
