
<div class="container">
  	<div class="page-header">
	  	<h1>CoCompose</h1>
	</div>
	  	<p>You must be signed in to continue.</p>
		<button id="signin-btn" class='btn btn-info'>Sign in</button>
		<button id="register-btn" class='btn btn-info'>Register</button>
</div>
