<div class="notes">
 	<canvas id="piano" width="150" height="150"></canvas>
	<br>
	<canvas id="sheet" width="150" height="150"></canvas>
	<button type="button" id="playButton">play/pause</button>

	<br><br>
</div>
