

<div class="container">
    <div class="page-header">
      <h1>CoCompose</h1>
    </div>
    <a href="#" id="home-link">Back to Home</a>
    <h1>Register</h1>
    <div class="error">
      {{#if error}}
        {{error}}
      {{/if}}
    </div>
    <form id="register-form" class="form-group">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <div>Username: <input type="text" name="username" class="form-control" placeholder="Username" required /></div> <br>
      <div>Password: <input type="password" name="password" class="form-control" placeholder="Password" required /></div> <br>
      <div>Confirm Password: <input type="password" name="confirm" class="form-control" placeholder="Password" required /></div>
      <br>
      <input type="submit" class="btn btn-info"/>
    </form>
</div>
