<div id="sheets">
	<p>Welcome, {{currentUser}} (<a href="#" id="logout-link">logout</a>)</p>
	<h1>CoCompose Music Library</h1>
	<div>
      <div class="error"></div>
      <label for="new-sheet-input">Add a new sheet:</label>
      <input type="text" id="new-sheet-input" />
      <button id="submit-new-sheet" class='tealButton'>Add</button>
    </div>
	<h1>My Sheets</h1>

	{{#each sheets}}
	  {{> sheet}}
	{{/each}}
</div>
