<div id="sheets">
	<p>Welcome, {{currentUser}} (<a href="#" id="logout-link">logout</a>)</p>
	<h1>CoCompose Music Library</h1>
	<div>
      <div class="error"></div>
      <label for="new-sheet-input">Add a new sheet:</label>
      <input type="text" id="new-sheet-input" />
      <button id="submit-new-sheet" class='tealButton'>Add</button>
    </div>
    <div class="left">
		<h1>My Sheets</h1>

		{{#each own_sheets}}
		  {{> sheet}}
		  <br>
		{{/each}}
	</div>

	<div class="right">
		<h1>Sheets Shared With Me</h1>

		{{#each collab_sheets}}
		  {{> sheet}}
		  <br>
		{{/each}}
	</div>
</div>
