
<div class="container">
    <div class="page-header">
      <h1>CoCompose</h1>
    </div>
    <a href="#" id="home-link">Back to Home</a>
    <h1>Sign In</h1>
    <div class="error">
      {{#if error}}
        {{error}}
      {{/if}}
    </div>
    <form id="signin-form" class="form-group">
      <div>Username: <input type="text" name="username" class="form-control" placeholder="Username" required /></div> <br>
      <div>Password: <input type="password" name="password" class="form-control" placeholder="Password" required /></div>
      <br>
      <input type="submit" class="btn btn-info"/>
    </form>
</div>

